<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div
  class="example-group"
  cdkDropListGroup
>
  <div
    *ngFor="let array of twoDimArray"
    class="example-list" 
    cdkDropList
    [cdkDropListData]="array"
    (cdkDropListDropped)="drop($event)"
    [style.min-height.px]="(array.length + 1) * 50 + 145"
  >
    <div 
      class="example-box" 
      cdkDrag 
      *ngFor="let item of array; let i = index"
      (click)="toggleCard(item)"
    >
      <img *ngIf="!item.hidden" class="card" src="https://deckofcardsapi.com/static/img/{{item.card}}.png" />
      <img *ngIf="item.hidden" class="card" src="http://www.newtscards.com/images/detailed/2/bet_on_it_card_back_newts.gif" />
    </div>
  </div>
</div>